{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <table width="100%" style="text-align: center">
                <thead style="background: aqua">
                    <th>#</th>
                    <th>Name</th>
                    <th>Result</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="/command/Dynamo">Dynamo</a></td>
                        <td>100</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }

</style>
{% endblock %}
