{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" class="container">
            <div id="welcome">
                <h1>Teams</h1>
            </div>

            <table class="table table-striped table-hover table-responsive">
                <thead>
                <th>#</th>
                <th>Name</th>
                <th>Country</th>
                </thead>
                <tbody>

                {% for team in teams %}
                    <tr>
                        <td>{{ team.id }}</td>
                        <td><a href="{{ path('Team', {id: team.id}) }}">{{ team.name }}</a></td>
                        <td>{{ team.country }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
{% endblock %}


