{% for team in teams %}
    <tr>
        <td>{{ team.id }}</td>
        <td><a href="{{ path('Team', {id: team.id}) }}">{{ team.name }}</a></td>
        <td>{{ team.country }}</td>
    </tr>
{% endfor %}