{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Yura</h1>
                <h3>Trainer</h3>
            </div>

        </div>
    </div>
{% endblock %}